@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: 'Roboto', sans-serif !important;
}

.reveal, .reveal h1, .reveal h2 {
    font-weight: 300;
}

#title_slide {
    text-align: left;
    margin-left: -10%;
}
